

.clientFooter{
    padding: 1em;

}

.userMessage {
    text-align: center;
    display: block;
    /* -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s; */
    margin: 0;
    margin-top: .5em;
    width: auto;

}

.preset-list-item a{
    text-decoration: none;
}

.addNewForm input, .addNewForm textarea{
    margin-left: 0em !important;
    border: solid thin #d3ecf1;

}
textarea{
    border: solid thin #d3ecf1;
}
header{
    background-color:  white !important;
    border-bottom: solid thin #B3B1B1;
}

nav{
    border-bottom: none;
}

.system-info{
    margin-right: 0.25em;
}

.icon-small {
    margin-top: 0.25em;
    cursor: pointer;
    height: 1em;
    width: 1em;
    display: inline-block;
}


[data-preset] h1 {
    border-bottom: none;
    text-decoration: underline;
}

.csvPopup{
 
    z-index: 10;
    position:absolute;
    background-color: white;
    border: solid 1px #284c76;
    top:200px;
    left:50%;
    width:400px; 
    height:400px;  
    margin-left:-200px;  
  
    padding: 20px;
    font-size: 80%;
   
  }
  
