

.clientFooter{
    padding: 1em;

}

.userMessage {
    text-align: center;
    display: block;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    margin: 0;
    width: auto;

}

.preset-list-item a{
    text-decoration: none;
}

.addNewForm input, .addNewForm textarea{
    margin-left: 0em !important;
    border: solid thin #d3ecf1;

}
textarea{
    border: solid thin #d3ecf1;
}
header{
    background-color:  white !important;
    border-bottom: solid thin #B3B1B1;
}

nav{
    border-bottom: none;
}

.system-info{
    margin-right: 0.25em;
}

.icon-small {
    cursor: pointer;
    height: 1em;
    width: 1em;
    display: inline-block;
}


