{% extends "base.html" %}
{% block content %}
<div class="main-wrapper happy-margin">

    <section class="white-background  happy-margin table-nav">
        <div class="happy-margin">
            <span class="happy-margin">
                {% set presetToApply = preset.split('.') %}

                <h1>Applying preset '{{presetToApply[0]}}' to 
                    {% for device in devices%}
                    {{device}}&nbsp;
                    {%endfor%}
                </h1>
                
                <p>You can adjust the preset below if required. Hit save to apply the settings to the device(s)</p>
            </span>

            <form data-preset class="form-body" id="configForm" method="post">
                <div class="form-buttons">
                    <button class="featured button" type="submit">Apply</button>
                </div>
                {% include "configForm.html" %}
                <div class="form-buttons">
                    <button class="featured button" type="submit">Apply</button>
                </div>                
            </form>
            <br />
        </div>
    </section>
</div>
{% endblock %}