{% extends "base.html" %}
{% block content %}

    <section>
        <div class="form-block happy-margin">
            <div class="form-block-wrapper">
                <div class="config-page-subheading flex">
                    <div class="form-headings navy happy-margin">
                        <h1>Config Settings for device:<br /><span id="deviceIDString">{{current['local.friendlyName']}}({{device}})</span></h1>
                        <span class="happy-margin">Device time: {{current['rtc.dateTime']}} <a class='inlineLink toRight noUnderLine' href='download_config?devices[]={{device}}&a={{headerData.timestamp}}>'>Download</a>
                        </span>
                        <div class="subheading red navy">
                            <div class="icon">
                                <img src="/scute/images/info-icon.png">
                            </div>
                            <h3>The fields in red are unsaved changes</h3>
                        </div>
                    </div>


                </div>
                <form class="form-body" id="configForm" method="post" onsubmit="return confirmSubmitConfig(this)">
                    <div class="form-buttons">
                        <button class="featured button" type="submit">Apply</button>
                        <button class="primary button save-as-preset" name="preset" type="submit">Save As Preset</button>
                    </div>
                    {% include "configForm.html" %}
                    <div class="form-buttons">
                        <button class="featured button" type="submit">Apply</button>
                        <button class="primary button save-as-preset" name="preset" type="submit">Save As Preset</button>
                    </div>
                </form><br />
            </div>
        </div>
    </section>
{% endblock %}
