
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arribada Connected Tags - Arribada Initiative</title>
    <link rel="stylesheet" href="/static/styles.css" />
    
</head>

<body>
    <header>
        <section id="shortReport">
    Arribada Connected Tags<br>
    dummy<br>
</section>
    </header>
    
    
<main id="mainMenu">
<nav class="???">

</nav>

Version: Debug Mode...
<br><br>
Number Devices: 3
<br>

Tony Tag: 1111111111111111<br>
{&#39;connection&#39;: &#39;USB&#39;, &#39;batteryLevel&#39;: 50, &#39;logFileSize&#39;: 123456, &#39;deviceID&#39;: &#39;1111111111111111&#39;, &#39;configVerison&#39;: 10, &#39;friendlyName&#39;: &#39;Tony Tag&#39;, &#39;sensorsEnabled&#39;: [&#39;gps&#39;, &#39;pressure&#39;, &#39;saltwater&#39;, &#39;accelerometer&#39;], &#39;connectionID&#39;: 1, &#39;firmwareVersion&#39;: 4, &#39;logFileType&#39;: &#39;LINEAR&#39;}
<br><br><br>

Timmy Tag: 2222222222222222<br>
{&#39;connection&#39;: &#39;USB&#39;, &#39;batteryLevel&#39;: 100, &#39;logFileSize&#39;: 123456, &#39;deviceID&#39;: &#39;2222222222222222&#39;, &#39;configVerison&#39;: 8, &#39;friendlyName&#39;: &#39;Timmy Tag&#39;, &#39;sensorsEnabled&#39;: [&#39;gps&#39;, &#39;saltwater&#39;, &#39;accelerometer&#39;], &#39;connectionID&#39;: 2, &#39;firmwareVersion&#39;: 3, &#39;logFileType&#39;: &#39;LINEAR&#39;}
<br><br><br>

Thomasina Tag: 333333333333<br>
{&#39;connection&#39;: &#39;Bluetooth&#39;, &#39;batteryLevel&#39;: 35, &#39;logFileSize&#39;: 123456, &#39;deviceID&#39;: &#39;333333333333&#39;, &#39;configVerison&#39;: 10, &#39;friendlyName&#39;: &#39;Thomasina Tag&#39;, &#39;sensorsEnabled&#39;: [&#39;gps&#39;], &#39;connectionID&#39;: 2, &#39;firmwareVersion&#39;: 4, &#39;logFileType&#39;: &#39;LINEAR&#39;}
<br><br><br>

<a href="/status/123456">Get Status of Tag 123456</a><br>
<a href="/config/get/123456">Get Config of Tag 123456</a>

</main>


</body>

</html>