{% extends "base.html" %}
{% block content %}

<main>
  <section id="endpoints">
    <nav class="sectionHead">
      <a class="back" onClick="goBack()"></a><span>
        <h3>Connected devices</h3>
      </span>
      <a class="homeLink" href="/"></a>
    </nav>
    {% if deviceVariables.numberEndpointsPresent > 0 %}
    <ul>
      {% for dev_ept in deviceVariables.fullReport['ept'] %}
      {% set device = deviceVariables.fullReport['ept'][dev_ept] %}
      <li>
        <span onclick="collapse(this)" class="subhead">
          <span>
            <h4><a style="text-decoration: none; color:inherit;" href="/ept--{{dev_ept}}">{{deviceVariables.fullConfig['ept'][dev_ept]['friendly_name']}}</a></h4>
            <!-- <h4><a style="text-decoration: none; color:inherit;" href="/?device=endpoint_cam">{{dev_ept}}</a></h4> -->
            <h4 class="deviceID light medium">{{dev_ept}}</h4>
          </span>
          <img src="../static/images/icons/noun_uncollapse.svg" />
        </span>
        <div class="collapsable">
          <div class="deviceItemTop">
            <h5 class="light">Status on last transmission on: <b>{{device.timestamp | ctime}}</b></h5>
            <div class="reportSymbols">
              <p>Battery: <span class="med-large">{{device.battery_voltage_mv/1000}}</span></p>
              <p>Signal: <span class="med-large">{{device.iridium_latest_strength}}</span></p>
            </div>
          </div>

          <div class="inner">
            <div class="latestActivityValues">
              <div class='info'>
                <span class='count'>{% if device.daily_event_count %}{{device.daily_event_count}}{% else %}0{% endif %}</span>events today
              </div>
              <div class='last'>Last: {% if device.last_event_timestamp %}{{device.last_event_timestamp}}{% else %}00/00/2019{% endif %}</div>
            </div>
            <div class="latestActivityValues">
              <div class='info'>
                <span class='count'>{% if device.tamper_event_count %}{{device.tamper_event_count}}{% else %}0{% endif %}</span>tampers today
              </div>
              <div class='last'>Last: {% if device.timestamp_of_last_tamper %}{{device.timestamp_of_last_tamper}}{% else %}00/00/2019{% endif %}</div>
            </div>
            {% if device.daily_image_count %}
            <div class="latestActivityValues">
              <div class='info'>
                <span class='count'>{% if device.daily_image_count %}{{device.daily_image_count}}{% else %}0{% endif %}</span>images today
              </div>
              <div class='last'>Last: {% if device.daily_image_count %}{{device.last_event_timestamp}}{% else %}00/00/2019{% endif %}</div>
            </div>{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
        <h3 class='infoMessage'>No Endpoints connected.</h3>
    {% endif %}
  </section>
</main>

{% endblock %}
