{% if request.endpoint != "index" %}
<footer>
    GUI Version: <span class="gui-version">{{headerData.guiVersion}}</span><br />
    Hardware Version: <span class="gui-version">{{headerData.hardwareVersion}}</span><br />
    Computer Time: <span id="footer-time-computer" class="time-computer"></span><br />
    Hub Time: <span id="time-hub" class="time-hub">{{headerData.hubDateTime}}</span><br />
    Hub IP: <span id="time-hub" class="time-hub">{{headerData.systemIPAddress}}</span><br />
    SD Card: {{headerData.hubSDSpace}}<br />
</footer>
{% endif %}
<!-- <script src="/scute/scute.js"></script> -->
<script src="/static/scute.js"></script>
<script>

    let localDateTime = formatDateTime(new Date());


    document.getElementById("time-computer").innerHTML = localDateTime;
    if (localDateTime != '{{headerData.hubDateTime}}') {
        document.getElementById("clockWarning").innerHTML = "<form id='syncClockForm' action='/list' method='post'><input type='hidden' name='clock_sync' value='" + localDateTime + "' /> \
                    <a class='onRight clockMismatch' href='#' onclick=\"document.getElementById('syncClockForm').submit()\" \
                    title='Sync Hub Time to Computer Time?'>Time Mismatch</a></form><br />";
    }

    if (document.getElementById("footer-time-computer")) {
        document.getElementById("footer-time-computer").innerHTML = localDateTime;
    }


</script>