<section id="shortReport">
    <nav class="flex">
        <div class="nav-tab nav-branding">
            <a>ARRIBADA INITIATIVE</a>
        </div>
        <div class="nav-tab navy {% if request.endpoint == "index" %}selected{% endif %}">
            <a href="/">Device Manager</a>
        </div>
        <div class="nav-tab navy {% if request.endpoint == "presets" %}selected{% endif %}">
            <a href="/presets">Preset Manager</a>
        </div>
        <div class="nav-tab navy">
            <a href="#"></a>
        </div>
        <!-- <div class="nav-tab navy {% if request.endpoint == "reports" %}selected{% endif %}">
            <a href="/uploads">Upload Manager</a>
        </div> -->

    </nav>
</section>