{% extends "base.html" %}
{% block content %}


<div class="main-wrapper happy-margin">

    <section class="main-table-wrapper" >
        <div class="table-nav flex top-tail-margin top-tail-padding">
            <div class="table-nav-left">
                <span class="usb-icon inline-block">
                    <img alt="USB icon" src="/scute/images/usb-icon.png">
                </span>
                <div class="inline-block navy table-header">
                    <h2>{{ title }}</h2>
                </div>
            </div>

        </div>
        
        <div class="help-page-wrapper happy-margin">

            <h2>{{helpInfo.pageHeader}}</h2>

            {% if helpInfo.category | length > 0 %}
            
                {% for category in helpInfo.category %}
                    <div class="helpCategory happy-margin">

                        <h3>{{category.categoryHeader}}</h3>
                        
                        {% if category.blocks | length > 0 %}
                        
                        {% for block in category.blocks %}
                        <div class="helpBlock happy-margin">
                            {% if "blockAnchor" in block %} 
                                <a name="{{block.blockAnchor}}"></a>
                            {%endif%}

                            <h4>{{block.blockHeader}}</h4>
                            {{block.blockContent}}
                            
                        </div>
                        {%endfor%}
                        
                        {%endif%}
                        
                        
                    </div>
                {% endfor %}
            {% endif %}
                
  
        </div>

 
        <div class="happy-margin">
            &nbsp;
 
        </div>
    </section>




</div>
{% endblock %}