{% extends "base.html" %}
{% block content %}


<div class="main-wrapper happy-margin">

    <section class="main-table-wrapper" >
        <div class="table-nav flex top-tail-margin top-tail-padding">
            <div class="table-nav-left">
                <span class="usb-icon inline-block">
                    <img alt="USB icon" src="/scute/images/usb-icon.png">
                </span>
                <div class="inline-block navy table-header">
                    <h2>{{ title }}</h2>
                </div>
            </div>

        </div>
        
        <div class="help-page-wrapper happy-margin">

            <h2>{{helpInfo.pageHeader}}</h2>
            {{helpInfo|safe}}
  
        </div>

 
        <div class="happy-margin">
            &nbsp;
 
        </div>
    </section>




</div>
{% endblock %}