{% extends "base.html" %}
{% block content %}

    <section>
        <div class="happy-margin">
            <div class="splash-screen-wrapper happy-padding">
            <h2>Welcome to Horizon GPS</h2><br/>
            <img src="/static/images/arribada_initative_logo_blog_ig.png" />
            <br/><br/>
            <button type="button" class='featured'><a  href='/list'>Device Scan</a></button>
            <div class="versionInfo">GUI:{{headerData.guiVersion}}, Hardware:{{headerData.hardwareVersion}}, Tools:{{headerData.toolsVersion}},<br />
                Hub IP: {{headerData.systemIPAddress}}<br  />
                SD Card: {{headerData.hubSDSpace}}<br />
            </div>
            </div>

        </div>
    </section>
{% endblock %}