{% extends "base.html" %}
{% block content %}

    <section>
        <div class="happy-margin">
            <div class="splash-screen-wrapper happy-padding">
            <h2>Welcome to Horizon GPS</h2>
            <img src="/static/images/turtle-green.png" width="170px"/>
            <br/>
            <button type="button" class='featured'><a  href='/list'>Scan For Devices</a></button>
            <div class="versionInfo">GUI:{{headerData.guiVersion}}, Hardware:{{headerData.hardwareVersion}}<br />
                Hub IP: {{headerData.systemIPAddress}}<br  />
                SD Card: {{headerData.hubSDSpace}}<br />
            </div>
            </div>

        </div>
    </section>
{% endblock %}