{% extends "base.html" %}
{% block content %}

        <div class="main-wrapper happy-margin">

            <section class="main-table-wrapper" toolversion>
                <div class="table-nav flex top-tail-margin top-tail-padding">
                    <div class="table-nav-left">
                        <span class="usb-icon inline-block">
                            <img alt="USB icon" src="/scute/images/usb-icon.png">
                        </span>
                        <div class="inline-block navy table-header">
                            <h2>Device Manager</h2>
                        </div>
                    </div>
                    <div class="table-nav-right gray">
                        <div class="last-loaded key inline-block">
                            <p class="inline-block light-gray">Last loaded:</p>
                        </div>
                        <div class="date value inline-block">
                            <p class="inline-block">{{ timeLoaded }}</p>
                        </div>
                    </div>
                </div>
                {% if reportValues|length > 0 %}
                <section class="main-table">
                    <table>
                        <tr>
                            <td></td>
                            {% for device in reportValues %}
                                <td data-device="{{device}}" class="deviceHeader">
                                    <span class="circle selected-no"></span>
                                    {{device}}
                                </td>
                            {% endfor %}
                        </tr>
                        <!-- categories in report loop -->
                        {% for key,category in reportSchema.items() | sort(attribute='1.order') %}

                            <!-- report field loop rows -->
                            {% for fieldKey,fieldSchema in category.fields.items() | sort(attribute='1.order') %}
                                <tr>

                                    <td>{{fieldSchema.label}}</td>

                                    <!-- output the field cell -->
                                    {% for deviceKey,deviceValues in reportValues.items() %}
                                        <td>

                                        {% if deviceValues[fieldKey] is iterable and deviceValues[fieldKey] is not string %}

                                            {# Check if list #}
                                            
                                            {% for value in deviceValues[fieldKey] %}

                                                {{value}}

                                            {% endfor %}

                                        {% else %}
                                                {{deviceValues[fieldKey]}}
                                        {% endif %}

                                        </td>
                                    {% endfor %}
                                </tr>

                            {% endfor %}

                        {% endfor %}

                    </table>

                </section>

                <div class="divider"></div>

                <section class="buttons actions">

                    <div class="buttons-wrapper">

                        <select disabled data-bulk="true">
                            <option>Apply Preset</option>
                            <option>Preset A</option>
                            <option>Preset B</option>
                            <option>Preset C</option>
                        </select>

                        <button data-action="config" data-bulk="false" disabled>Configure</button>

                        {% for key,action in actions.items() %}

                            <button {% if action.warn %} data-warn="true" {% endif %} {% if action.bulk %} data-bulk="true" {% else %} data-bulk="false" {% endif %} class="{% if action.warn %} scary {% endif %}" data-action="{{key}}" disabled>{{action.label}}</button>

                        {% endfor %}

                        <br/>

                    </div>

                </section>
                {% else %}
                <section class="empty report">
                    <div class="alert info">
                        No Tags Detected.
                    </div>
                    <a href="/">Connect a tag and reload.</a>
                </section>


                {% endif %}

            </section>

        </div>
{% endblock %}
