<section id="shortReport">
    <div class="miniReportHead">
        <span class="reportText">
            <h3 class="friendlyName light">
                {{deviceVariables.childConfig.friendly_name}}</h3>
                <h4 class="deviceID light lightgrey medium">{{pageVariables.myType}}:{{pageVariables.myUID}} ({{pageVariables.myShortUID}})</h4>
        </span></div><div class="miniReportMiddle"><div id="trigger" class="trigger"></div></div><div class="miniReport">
        <div class="reportSymbols">
            <h6 id="battery">Battery: <span class="med-large">{{deviceVariables.actualDeviceReport.battery_voltage_mv.value}}</span></h6>
            {% if pageVariables.myType == 'ept'   %}
                <h6 id="signal">Radio Signal: <span class="med-large">{{deviceVariables.actualDeviceReport.lora_latest_dbm.value}}</span></h6>
            {% else %}
                <h6 id="signal">Satellite Signal: <span class="med-large">{{deviceVariables.actualDeviceReport.iridium_latest_strength.value}}</span></h6>
            {% endif %}

        </div>
    </div>
</section>
