{% extends "base.html" %}
{% block content %}

<main>
  <section id="oamsettings">
    <nav class="sectionHead"><a class="back" href="/{{pageVariables.myType}}--{{pageVariables.myUID}}"></a><span>
        <h3>{{pageVariables.title}}</h3>
      </span>
      <a class="homeLink" href="/"></a>
    </nav>
    <p id="changesMade" class="warning"><img src="../static/images/icons/noun_Information_55404_a0044a.svg" />The fields in red are unsaved changes</p>
    <h3 class='infoMessage'>To Be Completed.</h3>
    <form id="settingsForm" method="post" action="/{{pageVariables.myType}}--{{pageVariables.myUID}}/saveconfig">
      <ul>

        {% for sectionName in form %}

        {% set section = form[sectionName] %}

        <span onclick="collapse(this)" class="subhead">
          <h4>{{sectionName}}</h4><img src="../static/images/icons/noun_uncollapse.svg" />
        </span>

        <div class="collapsable">
          <div class="inner">

            {% for element in section %}

            {% set attribute = element.key %}

            {% if element["enum"] %}

            {% if element["format"] == "radio" %}

            <li>
              <span>
                <label for="{{attribute}}">{{element.title}}</label>
                <span class="radios">
                  {% for option in element.enum %}
                  <span class="checkradio">
                    <input {% if element.default|string==option|string %} checked="checked" {% endif %} type="radio" id="{{attribute}}" name="{{attribute}}" value="{{option}}" />
                    <label for="{{attribute}}">{{option}}</label>
                  </span>
                  {% endfor %}
                </span>
              </span>
              <p class="description">{{element.description}}</p>
            </li>

            {% elif element["format"] == "checkbox" %}

            <li>
              <span>
                <label for="{{attribute}}">{{element.title}}</label>
                <span class="radios">
                  {% for option in element.enum %}
                  <span class="checkradio">
                    <input {% if element.default|string==option|string %} checked="checked" {% endif %} type="checkbox" id="{{attribute}}" name="{{attribute}}" value="{{option}}" />
                    <label for="{{attribute}}">{{option}}</label>
                  </span>
                  {% endfor %}
                </span>
              </span>
              <p class="description">{{element.description}}</p>
            </li>

            {% else %}

            <li>
              <span>
                <label class="longer" for="{{attribute}}">{{element.title}}</label>
                <select autocomplete="off" id="{{attribute}}" name="{{attribute}}">
                  {% for option in element.enum %}
                  <option {% if element.default|string==option|string %} selected="selected" {% endif %} value="{{option}}">{{option}}</option>
                  {% endfor %}
                </select>
                <p class="description">{{element.description}}</p>
              </span>
            </li>

            {% endif %}

            {% elif element["type"] == "string" %}

            <li>
              <span>
                <label class="shorter" for="{{attribute}}">{{element.title}}</label>
                <input class="" name="{{attribute}}" id="{{attribute}}" type="text" placeholder="{{element.placeholder}}" value="{{element.default}}">
              </span>
              <p class="description">{{element.description}}</p>
            </li>

            {% elif element["type"] == "number" %}

            <li>
              <span>
                <label class="longer" for="{{attribute}}">{{element.title}}</label>
                <input class="shorter" name="{{attribute}}" id="{{attribute}}" type="number" placeholder="15" value="{{element.default}}">
              </span>
              <p class="description">{{element.description}}</p>
            </li>

            {% elif element["type"] == "time" %}
            <li>
              <div class="nativeTimePicker">
                <label for="{{attribute}}">{{element.title}} (time)</label>
                <input id="{{attribute}}" type="time" name="{{attribute}}" min="00:00" max="23:59">
              </div>
              <!--
                        <div class="fallbackTimePicker">
                            <p class="fallbackLabel">{{element.title}} (text)</p>
                            <span>
                                <label for="{{attribute}}-hour">Hour:</label>
                                <select id="{{attribute}}-hour" name="{{attribute}}">
                                </select>
                            </span>
                            <span>
                                <label for="{{attribute}}-minute">Minute:</label>
                                <select id="{{attribute}}-minute" name="{{attribute}}">
                                </select>
                            </span>
                        </div>
-->
              <p class="description">{{element.description}}</p>
            </li>

            {% endif %}

            {% endfor %}

          </div>
        </div>

        {% endfor %}

        <div style="clear:both;"></div>

      </ul>


      <div class="settingsActions">
        <button type="submit" id="save">Save</button>
      </div>

    </form>
  </section>

</main>

{% endblock %}
