<div class="presetForm happy-margin">
    <form class="form-body" method="post">
        <br/>
        <br />
        <h2>Preset name</h2>
        <input name="presetName" type="text" value="{{current.presetName}}"/><br/><br />
        <h2>Preset description</h2>
        <textarea name="presetDescription">{{current.presetDescription}}</textarea><br/>
        <div class="form-buttons">
            <button class="featured button" type="submit">Save</button>
        </div>
        {% include 'configForm.html' %}
        <div class="form-buttons">
            <button class="featured button" type="submit">Save</button>
        </div>
    </form>
</div>
