{% extends "base.html" %}
{% block content %}
<main id="mainMenu">

    <div class="main-wrapper happy-margin">
        <div class="tab-titles-wrapper top-tail-margin">
            <div class="tabs flex">
                <div class="flex">
                    <article class="tab-title happy-padding gray-background navy">
                        <h4>Radio Comms</h4>
                    </article>
                    <article class="tab-title happy-padding gray-background navy">
                        <h4>Configuration Manager</h4>
                    </article>
                    <article class="tab-title happy-padding white selected">
                        <h4>Device Manager</h4>
                    </article>
                </div>

                <div class="reload-icon inline-block">
                    <img src="/static/images/reload-icon.png" alt="Reload Icon">
                </div>
            </div>
        </div>

        <section class="main-table-wrapper" {{ dataVariables.toolVersion }}>
            <div class="table-nav flex top-tail-margin top-tail-padding">
                <div class="table-nav-left">
                    <span class="usb-icon inline-block">
                        <img src="/static/images/usb-icon.png" alt="USB icon">
                    </span>
                    <div class="inline-block navy table-header">
                        <h2>Tag Manager</h2>
                    </div>
                </div>
                <div class="table-nav-right gray">
                    <div class="last-loaded key inline-block">
                        <p class="inline-block light-gray">Last loaded:</p>
                    </div>
                    <div class="date value inline-block">
                        <p class="inline-block">2X/1X/XX19 - 1X:4X</p>
                    </div>
                </div>
            </div>

            <section class="main-table">

                <table>

                    <thead>
                        <th class="navy">
                            <h3>Tag Name:</h3>
                        </th>
                        {% for item in dataVariables.data %}
                        <th class="name_{{ loop.index }}">
                            <p>{{ item['friendlyName'] }}</p>
                        </th>
                        {% endfor %}
                    </thead>

                    <tbody>
                        <td colspan="1" class="navy">
                            <p>Tag ID:</p>
                        </td>
                        <td class="navy">
                            <p>Connection:</p>
                        </td>
                        <td class="navy">
                            <p>Battery Level:</p>
                        </td>
                        <td class="navy">
                            <p>Log File Type:</p>
                        </td>
                        <td class="navy">
                            <p>Log File Size:</p>
                        </td>
                        <td class="navy">
                            <p>Firmware Version:</p>
                        </td>
                        <td class="navy">
                            <p>Config Version:</p>
                        </td>
                        <td class="navy">
                            <p>Sensors Enabled:</p>
                        </td>
                        <td class="navy">
                            <p>Data:</p>
                        </td>
                    </tbody>

                    {% for item in dataVariables.data %}
                    <div>
                      
                        <td class="deviceID{{ loop.index }}">
                            <p>{{ item['deviceID'] }}</p>
                        </td>
                        <td class="connection{{ loop.index }}">
                            <p>{{ item['connection'] }} #{{ item['connectionID']}}</p>
                        </td>
                        <td class="batteryLevel{{ loop.index }}">
                            <p>{{ item['batteryLevel'] }}%</p>
                        </td>
                        <td class="logFileType{{ loop.index }}">
                            <p>{{ item['logFileType'] }}</p>
                        </td>
                        <td class="logFileSize{{ loop.index }}">
                            <p>{{ item['logFileSize'] }}</p>
                        </td>
                        <td class="firmwareVersion{{ loop.index }}">
                            <p>{{ item['firmwareVersion'] }}</p>
                        </td>
                        <td class="configVersion{{ loop.index }}">
                            <p>{{ item['configVersion'] }}</p>
                        </td>
                        <td class="sensorsEnabled{{ loop.index }}">
                            <p>{{ item['sensorsEnabled'] }}</p>
                        </td>
                    </div>

                    {% endfor %}
                </table>
            </section>

            <section class="scroll-bar">
                <div class="scroll-bar gray happy-margin">
                </div>
                <div class="scroll-bar green happy-margin">
                </div>
            </section>

            <section class="buttons">
                <button class="primary navy happy-margin" type="button">
                    Select
                </button>
                <div class="secondary-buttons">
                    <button class="secondary navy happy-margin" type="button">
                        Download
                    </button>
                    <button class="secondary navy happy-margin" type="button">
                        Configure
                    </button>
                    <button class="secondary navy happy-margin" type="button">
                        Delete
                    </button>
                    <button class="secondary navy happy-margin" type="button">
                        Clear log
                    </button>
                </div>
            </section>

        </section>
    </div>
    <section class="links top-tail-margin">
        <a href="/status/123456">Get Status of Tag 123456</a><br>
        <a href="/config/get/123456">Get Config of Tag 123456</a>
    </section>
</main>
{% endblock %}