{% extends "base.html" %}
{% block content %}
<main id="mainMenu">
<nav class="???">

</nav>

{{ dataVariables.toolVersion }}
<br><br>
Number Devices: {{ dataVariables.numRows }}
<br>


{% for item in dataVariables.data %}
    <span class="name_{{ loop.index }}">{{ item['friendlyName'] }}: {{ item['deviceID'] }}</span><br>
    {{ item }}
    <br><br><br>

{% endfor %}
<a href="/status/123456">Get Status of Tag 123456</a><br>
<a href="/config/get/123456">Get Config of Tag 123456</a>

</main>
{% endblock %}
