{% extends "base.html" %}
{% block content %}

<div class="main-wrapper happy-margin">
    <section class="main-table-wrapper">
        <div class="table-nav top-tail-margin top-tail-padding">
            <div class="happy-margin">
                <h1 class="navy">Script Manager</h1>
                <div class="introText happy-margin">This are a set of useful scripts that can be used to perform more
                    advanced tasks.</div>
                <div class='happy-margin'>
                    <div class="presets-manager-wrapper">
                        <div class="presets-manager-list scrolling">
                            <div class="edit-presets-icons">
                                <span class="icon add-preset" onclick="loadScript('new')">
                                    <img alt="Add Script" src="scute/images/add-icon.png" />
                                </span>
                                <!-- <span class="icon">
                            <img onclick="uploadScript()" alt="Upload Script" src="scute/images/upload-icon.png"/>
                    </span> -->
                                <span class="icon toRight">
                                    <img onclick="deleteScript()" alt="Delete Script"
                                        src="scute/images/delete-icon.png" />
                                </span>

                            </div>
                            <div class="presets-list">
                                <ul>

                                    {% if scripts %}

                                    {% for element in scripts  %}

                                    <li class="preset-list-item" data-preset-menu="{{element.fileName}}"
                                        onclick="loadScript('{{ element.fileName }}')">
                                        <span class="preset-title navy bold">{{ element.name }}</span><br>
                                        <span class="description gray">{{ element.description }}</span>
                                    </li>
                                    {% endfor %}

                                    {% else %}

                                    <li>No scripts found.</li>

                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                        <div class="presets-manager-content">
                            <div class="heading">
                                <h1 id="presetHeading"></h1>
                                <span id="presetDate"></span>
                            </div>

                            {# Upload new preset #}

                            <!-- <div class="happy-margin" data-preset="upload" style="display:none;">

                <form method="POST">

                    <p>Paste a preset. The screen will refresh and the preset contents will appear in the form for you to rename / alter. Note, this only accepts files created through this preset manager (flattened JSON) not raw config files from a device.</p>

                    <textarea class="pastePresetArea" name="paste"></textarea><br />

                    <button type="button">Save</button>

                </form>

                </div> -->

                            <div data-preset="welcome">

                                <h2>Select a script to run, or <a href='#' onclick="loadScript('new')">add a new one.</a>
                                </h2>



                            </div>

                            {# New preset form #}
                            <div data-preset="new" style="display:none">

                                    <h1>Add New Script</h1>
                                    <div class="happy-margin">
                                    
                                    <label for="scriptName">Name</label><br />
                                    <input name="scriptName" type="text" value=""/><br>
                                    
                                    <label for="scriptDescription">Description</label><br />
                                    <input name="scriptDescription" type="text" value=""/><br>
                                    
                                    <label for="scriptCommands">Commands</label><br />
                                    <textarea name="scriptCommands" class="scriptBody happy-margin"></textarea>
                                    </div>
                                    <div class="form-buttons">
                                            <button onclick="return  checkScriptName();" class="featured button" type="submit">Save</button>
                                    </div>


                            </div>

                            {# Existing script forms #}
                            <form id="existingScriptForms" class="presetForm form-body" method="post">
                            {% for element in scripts %}
                             <div data-preset="{{element.fileName}}" style="display:none">
                                <button type="button" class='onRight featured noUnderline'><a class='noUnderline'
                                        href="/scripts/{{element.fileName}}"" title=" Run '{{element.name}}' .">Run
                                        Script</a>
                                </button><br />

                                <h1>{{element.name}}</h1>
                                <div class="happy-margin">
                                <label for="scriptName">Name</label><br />
                                <input name="scriptName" type="text" value="{{element.name|safe}}"/>
                                
                                <label for="scriptDescription">Description</label><br />
                                <input name="scriptDescription" type="text" value="{{element.description|safe}}"/>
                                
                                <label for="scriptCommands">Commands</label><br />
                                <textarea name="scriptCommands" class="scriptBody happy-margin">{{element.commands| replace("u'","'")}}</textarea>
                                </div>

                                <a class='onRight inlineLink noUnderline'
                                    href="/download_file?type=script&file={{element.fileName}}"
                                    title='Download and this script.'>Download Script</a>

                            </div>
                            {% endfor %}
                            </form>

                        </div>
                    </div>
                </div>
                <br />
            </div>
    </section>
</div>
<script>

// window.document.onload = function(e){ 
//    loadScript({{scripts[0].name}});
// }

</script>
{% endblock %}