{% extends "base.html" %}
{% block content %}


<div class="main-wrapper">


    <section class="white-background happy-margin scriptsIndex table-nav">
        <div class="happy-margin happy-padding">
        {% if scripts|length > 0 %}
        <span class="happy-margin" style="display: inline-block">
            <h2>This are a set of useful scripts that can be used to perform more advanced tasks.<br>
            </h2>
            <a  href='/admin_console'>Admin Console TBC</a>
        </span>

        {% for script in scripts %}
        <div class="script-item-wrapper happy-margin">
            <h2><a href="/scripts/{{script.fileName}}">{{script.name}}</a></h2>
            {{script.description}}
        </div>
        {% endfor %}

        {% else %}

        <p>No scripts found in /scripts</p>

        {% endif %}


    </div>
    </section>
</div>
{% endblock %}