{% extends "base.html" %}
{% block content %}
<!-- THIS IS NOT YET IMPLEMENTED -->

        <div class="main-wrapper happy-margin">

            <section class="main-table-wrapper" toolversion>
                <div class="table-nav flex top-tail-margin top-tail-padding">
                    <div class="table-nav-left">
                        <span class="usb-icon inline-block">
                            <img alt="USB icon" src="/scute/images/usb-icon.png">
                        </span>
                        <div class="inline-block navy table-header">
                            <h2>Upload Manager</h2>
                        </div>
                    </div>

                </div>
            </section>

            <section id="upload">

                    <div class="inline-block navy">
                        <h2>Upload New File</h2>
                    </div>
                    <form method=post enctype=multipart/form-data>

                        <input type=file name=file>
                        <select>
                            <option value="gps_almanac">GPS Almanac</option>
                            <ption value="firmware">Firmware File</option>
                          </select>
                          <br>
                        <input type=submit value=Upload>
                        </form>
    
                </section>
            <div class="divider"></div>
            <section id="uploaded gps_almanac">

                <div class="inline-block navy">
                    <h2>GPS Almanac Files Uploaded ({{gps_almanacFiles|length}})</h2>
                </div>
                <ul>
                {% for row in gps_almanacFiles %}
                <li>{{ row }}</li>
                {% endfor %}
                </ul>

            </section>

            <div class="divider"></div>
            <section id="uploaded firmwareFiles">
                    <div class="inline-block navy">
                            <h2>Firmware Files Uploaded ({{firmwareFiles|length}})</h2>
                    </div>
                        <ul>
                        {% for row in firmwareFiles %}
                        <li>{{ row }}</li>
                        {% endfor %}
                        </ul>
            </section>
            <div class="divider"></div>
            <section id="uploadFileBlock">

            </section>

        </div>
{% endblock %}
