{% extends "base.html" %}
{% block content %}

<div class="main-wrapper happy-margin">

    <section class="main-table-wrapper" toolversion>
        <div class="loadingPopup" id="loadingPopup">
            <img src="/static/images/loading-blue.svg" /><br />
            <h2>The Log File is transferring from your device to your Hub.</h2>
            <br />This page will refresh when complete<br />please do not click away.
            <br /><br />Note: The date/time in the log filename is the current Hub time.
        </div>
        <div class="table-nav flex top-tail-margin top-tail-padding">
            <div class="table-nav-left">
                <span class="usb-icon inline-block">
                    <img alt="USB icon" src="/scute/images/usb-icon.png">
                </span>
                <div class="inline-block navy table-header">
                    <h2>Log Data for {{device}}</h2>
                </div>
                <div>
                    <a onClick="displayLoadingPopup()" href="/view_log?devices[]={{device}}&new=yes"><button
                            class="downloadLogBtn" title='Transfer Latest log data from device to Hub'>Import Log</button></a>

                </div>
            </div>
            <div class="table-nav-right gray">
                <div class="last-loaded key inline-block">
                    <p class="inline-block light-gray">Displaying Log imported at </p>
                </div>
                <div class="date value inline-block">
                    <p class="inline-block">{{logData.latestLogDateTime}}</p>
                </div>
            </div>
        </div>

        {% if logData.latestLogDateTime | length >0%}


        <section class="happy-margin logData fileList">

            <div class="inline-block navy table-header">
                <h3>Available Log Imports ({{logData.allLogFiles|length}})</h3>
            </div>

            <div class="logFileList happy-margin">
                <span class="logFileEntry" style="text-decoration: underline;">Log Import Date/Time</span>

                {% for logDate in logData.allLogFiles%}
                
                {% for key, value in logDate.items() %}
                <span class="logFileEntry">

                    {{key}}&nbsp;<a class='warningButton noUnderline' href="/delete_log?key={{key}}&devices[]={{device}}" title='Delete these logs.'  onclick="return confirm('Delete these Logs?\nOnce deleted, you can will not be able to recover them. ')">Delete</a>&nbsp;
                    - Downloads: <a class="downloadLink"
                    href="/downloadLog?device={{logData.selectedDevice}}&file={{value['json']['fileName']}}"
                    target="_blank">JSON<span class="tinyText">({{value['json']['fileSize']}})</span></a> <a class="downloadLink"
                    href="/downloadLog?device={{logData.selectedDevice}}&file={{value['bin']['fileName']}}"
                    target="_blank">Binary<span class="tinyText">({{value['bin']['fileSize']}})</span></a>
                </span>
                {% endfor %}

            
                {% endfor %}
            </div>

        </section>
        <div class="divider"></div>
        <section class="happy-margin logData analysis">
                <div class="inline-block navy">
                    <h3>Log Analysis for {{logData.latestLogDateTime}}</h3>
                </div>
                <span class="clearFloat"></span>
    
                <div class="analysisBlock happy-margin">
                    <ul>
                        {% for row in logData.logAnalysis %}
                            <li>{{ row.name }} ({{ row.count }})</li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="clearFloat"></span>
    
            </section>
            <div class="divider"></div>
        <section class="happy-margin logData logPreviewSection">
            <div class="inline-block navy">
                <h3>Log Preview (first {{ logData.fileHead|length }} records)</h3>
            </div>

            {% if logData.fileHead|length > 0 %}
            <div class="logPreview happy-margin">{% for row in logData.fileHead %}{{ row }}<br>{% endfor %}
            </div><br />

            {% else %}
            <div class="happy-margin alert info">
                No Log Data.
            </div>&nbsp;

            {% endif %}
        </section>
        {% else %}
        <!--  no Log data -->
        <section class="happy-margin logData">
            <div class="happy-margin">
                <div class="happy-margin"><br><br>
                    <div class="happy-margin alert info noData">

                        <h2>No Log Data has been downloaded to your Hub for device {{ device }}.</h2>  Import Logs using the link above.


                    </div>&nbsp;
                </div>
            </div>

        </section>
        {% endif %}
    </section>

</div>
{% endblock %}