body {
    background-color: darkgrey;
}

.pageWrapper {
    padding: 30px;
    padding-bottom: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

.versionBlock {
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-size: 70%;
    background-color:gainsboro
}