<a id="burger" onclick="toggleBurger()">
    <span></span>
    <span></span>
    <span></span>
</a>
<div class="system-info">
    <span id="clockWarning"></span>
    <ul>
        <li>{{_('Hub')}}: <span id="time-hub" class="time-hub">{{systemInfo.hubDateTime}}</span></li>
        <li>{{_('Computer')}}: <span id="time-computer" class="time-computer"></span></li>
    </ul>
    
</div>
<nav class="flex">
    <div class="nav-tab nav-branding">
        <a href="/">{{_('Horizon GPS')}}</a>
    </div>
    <div class="mob-menu">
        <div class="nav-tab navy {% if request.endpoint == "list" %}selected{% endif %}">
            <a href="/list" onclick="lockScreenOverlay();">{{_('Device Manager')}}</a>
        </div>
        <div class="nav-tab navy {% if request.endpoint == "presets" %}selected{% endif %}">
            <a href="/presets">{{_('Preset Manager')}}</a>
        </div>
        <div class="nav-tab navy {% if request.endpoint == "scripts" %}selected{% endif %}">
            <a href="/scripts">{{_('Scripts')}}</a>
        </div>
        <div class="nav-tab navy {% if request.endpoint == "help" %}selected{% endif %}">
            <a href="/help">{{_('Help')}}</a>
        </div>
    </div>
</nav>