<div class="presetForm happy-margin">
    <form class="form-body" method="post">
        <br/>
        <br />
        <h2>{{_('Preset name')}}</h2>
        <input name="presetName" type="text" value="{{current.presetName}}"/><br/><br />
        <h2>{{_('Preset description')}}</h2>
        <textarea name="presetDescription">{{current.presetDescription}}</textarea><br/>
        <div class="form-buttons">
            <button onclick="return checkPresetName();" class="featured button" type="submit">{{_('Save')}}</button>
        </div>
        {% include 'forms/configForm.html' %}
        <div class="form-buttons">
            <button onclick="return  checkPresetName();" class="featured button" type="submit">{{_('Save')}}</button>
        </div>
    </form>
</div>
