{% extends "base.html" %}
{% block content %}

<div class="main-wrapper happy-margin">

    <section class="main-table-wrapper" toolversion>
        <div class="table-nav flex top-tail-margin top-tail-padding">
            <div class="table-nav-left">
                <span class="usb-icon inline-block">
                    <img alt="USB icon" src="/scute/images/usb-icon.png">
                </span>
                <div class="inline-block navy table-header">
                    <h2>Device Manager</h2>
                </div>
                {% if systemInfo.pageTitle %}
                <div class="introText happy-margin">{{_(systemInfo.pageTitle)|safe}}</div>
                {% endif%}
            </div>
            <div class="table-nav-right gray">
                <div class="last-loaded inline-block">
                    <span class="light-gray">{{_('Latest Scan:')}} {{ systemInfo.latestScan|safe }}
                        <form id='reloadForm' action="/list" method="post">
                            <input type="hidden" name="force_update" value='yes' />
                            <a class='button tertiary onRight noUnderline' href="#"
                                onclick='lockScreenOverlay(); document.getElementById("reloadForm").submit()'
                                title='Reload page and do a scan for devices.'>{{_('Scan For Updates')}}</a>
                        </form>
                    </span>
                </div>
            </div>
        </div>

        {% if reportValues | length > 0 %}

        {% if 'error' in reportValues %}

        <section class="main-table">
            <div class="happy-margin no-devices">
                <div class="alert error">
                    <img src="/static/images/invalid_firmware_white.png" width="100px" />
                    <h1>{{_(reportValues.error)}}</h1>
                    {{_(reportValues.message)}}
                </div>
            </div>
        </section>

        {%else%}

        <section class="main-table">
            <table>
                <tr>
                    <td></td>
                    {% for device in reportValues %}
                    <td data-device="{{device}}" class="deviceHeader clickSelect">
                        <span class="circle selected-no"></span>{{reportValues[device].friendlyName}}
                    </td>
                    {% endfor %}
                </tr>
                <!-- categories in report loop -->
                {% for key,category in reportSchema.items() | sort(attribute='1.order') %}

                <!-- report field loop rows -->
                {% for fieldKey,fieldSchema in category.fields.items() | sort(attribute='1.order') %}
                <tr>

                    <td>{{_(fieldSchema.label)}}</td>

                    <!-- output the field cell -->
                    {% for deviceKey,deviceValues in reportValues.items() %}
                    <td data-device="{{deviceKey}}" class="clickSelect">

                        {% if deviceValues[fieldKey] is iterable and deviceValues[fieldKey] is not string %}

                        {# Check if list #}
                        <ul class='leftAlign'>
                            {% for value in deviceValues[fieldKey] %}

                            <li class='leftAlign'>{{_(value)}}</li>

                            {% endfor %}
                        </ul>

                        {% else %}
                        {{deviceValues[fieldKey] | safe}}
                        {% endif %}

                    </td>
                    {% endfor %}
                </tr>

                {% endfor %}

                {% endfor %}

            </table>

        </section>
        {%endif%}
        {% else %}

        <section class="main-table">
            <div class="happy-margin no-devices">
                <div class="alert info">
                    <img src="/static/images/usb-connect-white.png" width="100px" />
                    <h1>{{_('No configured devices detected.')}}</h1>
                    <form id='reloadForm2' action="/list" method="post">{{_('Please connect a device then')}} <a class='' href="#"
                            onclick='document.getElementById("reloadForm2").submit()'
                            title='{{_('Reload page and do a scan for devices.')}}'>{{_('Scan For Updates')}}</a>
                        <input type="hidden" name="force_update" value='yes' />
                    </form>
                </div>
            </div>
        </section>
        {% endif %}

        <div class="divider"></div>

        <section class="buttons actions">

            <div class="buttons-wrapper">

                <button onclick="showHideDiv('presetOptions')" data-bulk="true" disabled
                    title='{{_('Choose a preset config to apply')}}'>{{_('Apply Preset')}}</button>

                <button onclick="lockScreenOverlay(); triggerAction(event)" data-action="config" data-bulk="false" disabled
                    title='{{_('View, edit and download device config.')}}'>{{_('Device Config')}}</button>

                {% for key,action in actions.items() %}

                {# Check if list or select #}

                {% if action.list %}

                <select onchange="triggerAction(event)" {% if action.popupWarning %} data-popupWarning="true" {% endif %}
                    {% if action.bulk %} data-bulk="true" {% else %} data-bulk="false" {% endif %}
                    {% if action.popupButtons %} data-popupButtons="{{action.popupButtons}}" {% endif %}

                    class="{% if action.popupWarning %} scary {% endif %}" data-action="{{key}}" 
                    {% if action.lockScreen %} data-lockscreen="true" {% else %} data-lockscreen="false" {% endif %} disabled>

                    <option value="">{{_(action.label)}}</option>

                    {% for key,value in action.list.items() %}

                    <option value="{{value}}">{{_(key)}}</option>

                    {% endfor %}

                </select>

                {% else %}

                <button onclick="triggerAction(event)" {% if action.popupWarning %} data-popupWarning="true" {% endif %}
                    {% if action.userMessage %} data-usermessage="{{_(action.userMessage)}}" {% endif %}
                    {% if action.bulk %} data-bulk="true" {% else %} data-bulk="false" {% endif %}
                    {% if action.popupButtons %} data-popupButtons="{{action.popupButtons}}" {% endif %}
                    class="{% if action.popupWarning %} scary {% endif %}" data-action="{{key}}" disabled
                    {% if action.toolTip %} title="{{_(action.toolTip)}}" {% endif %}
                    {% if action.lockScreen %} data-lockscreen="true" {% else %} data-lockscreen="false" {% endif %}>{{_(action.label)}}</button>

                {% endif %}


                {% endfor %}

                <br />
                <div id="presetOptions">
                    <div class='happy-margin'>

                        <h2>{{_('Choose a Preset to apply to selected device(s)')}}</h2>
                        {% for option in presetValues%}
                        <button class='actionButton notHidden' onclick="triggerAction(event)" data-action="applyPreset"
                            value="{{option.value}}"
                            title='{{_('Apply this preset to the selected device(s)')}}'>{{_(option.label)}}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>



        </section>

    </section>

</div>
{% endblock %}