{% extends "base.html" %}
{% block content %}

<div class="main-wrapper happy-margin">

    <section class="main-table-wrapper" toolversion>
        <div class="loadingPopup" id="loadingPopup">
            <img src="/static/images/loading-blue.svg" /><br />
            <h2>{{_('The latest Log data is being imported from device')}} {{device}} {{_('to the Hub')}}.</h2>
            <br />{{_('This page will refresh when complete.<br />Please do not click away.')}}
            <br /><br />{{_('Note: The date/time in the log filename is the current Hub time.')}}
            <br />{{_('NOTE: if the import crashed, please reboot the Hub.')}}
        </div>
        {% if csv_ready != None %} 
            {% if csv_ready|length != 0%}
                {% set csv_files = csv_ready.split('|') %}
                <div class="csvPopup" id="csvPopup">

                    <h1>Click to download a CSV file.</h1>
                    <br />
                    <ul>
                        {% for file in csv_files %}
                            {% if file|length !=0 %}
                            <li><a href="/downloadLog?type=csv&file={{file}}&device={{device}}">{{file}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <br>
                    <button onClick="hideThisDiv('csvPopup')" class="downloadLogBtn" href="">Close</button>


                </div>
            {% endif %}
        {% endif %}
        <div class="table-nav flex top-tail-margin top-tail-padding">
            <div class="table-nav-left">
                <span class="usb-icon inline-block">
                    <img alt="USB icon" src="/scute/images/usb-icon.png">
                </span>
                <div class="inline-block navy table-header">
                    <h2>{{_('Log Data for')}} {{device}}</h2>
                </div>
                <div>
                    <a onClick="displayLoadingPopup()" href="/view_log?devices[]={{device}}&new=yes"><button
                            class="downloadLogBtn" title='Transfer Latest log data from device to Hub'>{{_('Import Log')}}</button></a>

                </div>
            </div>
            <div class="table-nav-right gray">
                <div class="last-loaded key inline-block">
                    <p class="inline-block light-gray">{{_('Displaying Log imported at')}} </p>
                </div>
                <div class="date value inline-block">
                    <p class="inline-block">{{logData.latestLogDateTime}}</p>
                </div>
            </div>
        </div>

        {% if logData.latestLogDateTime | length >0%}


        <section class="happy-margin logData fileList">

            <div class="inline-block navy table-header">
                <h3>{{_('Available Log Imports')}} ({{logData.allLogFiles|length}})</h3>
            </div>

            <div class="logFileList happy-margin">
                <!-- <span class="logFileEntry" style="text-decoration: underline;">Log Import Date/Time</span> -->

                {% for logDate in logData.allLogFiles%}
                
                {% for key, value in logDate.items() %}
                <span class="logFileEntry">
                    <a class='' href="#" title='Delete these logs.'  onclick="showConfirm('{{_('<strong>Delete these Logs?</strong><br />Once deleted, you will NOT be able to recover them.')}}', '/delete_log?key={{key}}&devices[]={{device}}', false, ['Delete', 'Cancel']); return false;"><span class="icon-small"><img title="{{_('Delete these logs')}}" src="scute/images/delete-icon.png" /></span></a>
                    <strong>&nbsp;{{key}}&nbsp;</strong>
                    {{_('Download')}}:
                    <a class="downloadLink" href="/downloadSeparated?device={{logData.selectedDevice}}&file={{value['json']['fileName']}}"
                    >{{_('Separated CSV')}}</a>&nbsp;
                    <a class="downloadLink" href="/downloadLog?device={{logData.selectedDevice}}&file={{value['json']['fileName']}}"
                    target="_blank">{{_('JSON')}}<span class="tinyText">({{value['json']['fileSize']}})</span></a>&nbsp;
                    <a class="downloadLink"
                    href="/downloadLog?device={{logData.selectedDevice}}&file={{value['bin']['fileName']}}"
                    target="_blank">{{_('Binary')}}<span class="tinyText">({{value['bin']['fileSize']}})</span></a>
                                        
                </span>
                {% endfor %}
            
                {% endfor %}
            </div>

        </section>
        <div class="divider"></div>
        <section class="happy-margin logData analysis">
                <div class="inline-block navy">
                    <h3>{{_('Log Analysis for')}} {{logData.latestLogDateTime}}</h3>
                </div>
                <span class="clearFloat"></span>
    
                <div class="analysisBlock happy-margin">
                    <ul>
                        {% for row in logData.logAnalysis %}
                            <li>{{ row.name }} ({{ row.count }})</li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="clearFloat"></span>
    
            </section>
            <div class="divider"></div>
        <section class="happy-margin logData logPreviewSection">
            <div class="inline-block navy">
                <h3>{{_('Log Preview (first')}} {{ logData.fileHead|length }} {{_('records')}})</h3>
            </div>

            {% if logData.fileHead|length > 0 %}
            <div class="logPreview happy-margin">{% for row in logData.fileHead %}{{ row }}<br>{% endfor %}
            </div><br />

            {% else %}
            <div class="happy-margin alert info">
                {{_('The Log is empty.')}}
            </div>&nbsp;

            {% endif %}
        </section>
        {% else %}
        <!--  no Log data -->
        <section class="happy-margin logData">
            <div class="happy-margin">
                <div class="happy-margin"><br><br>
                    <div class="happy-margin alert info noData">

                        <h2>{{_('There is no Log Data downloaded to your Hub for device')}} {{ device }}.</h2>  {{_('Import current Logs using the link above.')}}

                    </div>&nbsp;
                </div>
            </div>

        </section>
        {% endif %}
    </section>

</div>
{% endblock %}