{% extends "base.html" %}
{% block content %}
<main id="mainMenu">

    <div class="main-wrapper happy-margin">
        <div class="tab-titles-wrapper top-tail-margin">
            <div class="tabs flex">
                <div class="flex">
                    <article class="tab-title happy-padding gray-background navy">
                        <h4>Radio Comms</h4>
                    </article>
                    <article class="tab-title happy-padding gray-background navy">
                        <h4>Configuration Manager</h4>
                    </article>
                    <article class="tab-title happy-padding white selected">
                        <h4>Device Manager</h4>
                    </article>
                </div>

                <div class="reload-icon inline-block">
                    <img src="/static/images/reload-icon.png" alt="Reload Icon">
                </div>
            </div>
        </div>

        <section class="main-table-wrapper" {{ dataVariables.toolVersion }}>
            <div class="table-nav flex top-tail-margin top-tail-padding">
                <div class="table-nav-left">
                    <span class="usb-icon inline-block">
                        <img src="/static/images/usb-icon.png" alt="USB icon">
                    </span>
                    <div class="inline-block navy table-header">
                        <h2>Tag Manager</h2>
                    </div>
                </div>
                <div class="table-nav-right gray">
                    <div class="last-loaded key inline-block">
                        <p class="inline-block light-gray">Last loaded:</p>
                    </div>
                    <div class="date value inline-block">
                        <p class="inline-block">2X/1X/XX19 - 1X:4X</p>
                    </div>
                </div>
            </div>

            <section class="main-table">
                <table>
                        {% for row in dataVariables.dataColumnNames %}
                            <tr>
                                <th>
                                    {{row}}
                                </th>
                                {% for _ in range(0, dataVariables.numRows ) %}
                                <td class="data-{{ row}}"  id="{{ row}}_{{loop.index-1}}" >{{dataVariables.data[loop.index-1][row]|safe}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor%}





                </table>

            </section>

            <section class="scroll-bar">
                <div class="scroll-bar gray happy-margin">
                </div>
                <div class="scroll-bar green happy-margin">
                </div>
            </section>

            <section class="buttons">
                <div class="buttons-wrapper flex happy-margin primary-buttons">
                    <button class="primary navy" type="button">
                        Select
                    </button>
                </div>
                <div class="buttons-wrapper flex happy-margin secondary-buttons">
                    <button class="secondary navy" type="button">
                        Download
                    </button>
                    <button class="secondary navy" type="button">
                        Configure
                    </button>
                    <button class="secondary navy" type="button">
                        Delete
                    </button>
                    <button class="secondary navy" type="button">
                        Clear log
                    </button>
                </div>
            </section>

            <section class="banner-block happy-margin">
                <div class="banner selected-devices flex ">
                    <h3>2 devices selected</h3>
                    <a class="quit-button icon-wrapper">
                        <img src="/static/images/x-icon.png" alt="X Icon">
                    </a>
                </div>
            </section>

            <section class="buttons">
                <div class="buttons-wrapper flex happy-margin secondary-buttons">
                    <button class="secondary navy" type="button">
                        Download
                    </button>
                    <button class="secondary navy" type="button">
                        Configure
                    </button>
                    <button class="secondary selected navy" type="button">
                        Delete
                    </button>
                    <button class="secondary selected navy" type="button">
                        Clear log
                    </button>
                </div>
            </section>
        </section>

    </div>

    <section>
        <div class="form-block happy-margin">
            <div class="form-block-wrapper">
                <div class="form-title happy-padding navy">
                    <h2>Form - example category heading</h2>
                    <div class="subheading red top-tail-margin navy">
                        <div class="icon">
                            <img src="/static/images/info-icon.png">
                        </div>
                        <h4 class="inline-block">The fields in red are unsaved changes</h4>
                    </div>
                </div>

                <form class="form-body">
                    <div class="form-field happy-margin">
                        <label class="inline-block">Field name:</label>
                        <input type="text" class"text-input inline-block">
                    </div>
                    <div class="form-field happy-margin">
                        <label class="inline-block">Field name:</label>
                        <input type="textarea" class"text-input inline-block">
                    </div>
                    <div class="form-field happy-margin">
                        <label class="inline-block">Field name:</label>
                        <select>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                    <div class="form-field checkbox-wrapper happy-margin">
                        <input type="checkbox">
                        <label class="inline-block">Checkbox 💕</label>
                    </div>
                    <div class="form-field happy-margin">
                        <label class="inline-block">Radio button</label>
                        <input type="radio">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="links top-tail-margin">
        <a href="/status/123456">Get Status of Tag 123456</a><br>
        <a href="/config/get/123456">Get Config of Tag 123456</a>
    </section>
</main>
{% endblock %}